.history-page {
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
  }
  
  .history-page ul {
    list-style-type: none;
    padding: 0;
  }
  
  .history-page li {
    background-color: #f4f4f4;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }