body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #f4f4f4;
}

.app {
  width: fit-content;
  text-align: center;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid red;
}
